<header class="header row">
  <div class="col-xs-3 row row--no-margin center-xs middle-xs"> Logo </div>
  <app-search class="col-xs-6"></app-search>
  <nav class="col-xs-3 header__navigation row row--no-margin center-xs">
    <a class="header__navigation-item header__navigation-item--active" href="#">
      <app-icon name="movie_reel"></app-icon>
    </a>
    <a class="header__navigation-item" href="#">
      <app-icon name="vote"></app-icon>
    </a>
    <a class="header__navigation-item" href="#">
      <app-icon name="popularity"></app-icon>
    </a>
  </nav>
</header>